module {{.Domain}}/{{.AppName}}

go 1.13

require (
	github.com/bwmarrin/snowflake v0.3.0
	github.com/codahale/hdrhistogram v0.0.0-20161010025455-3a0bb77429bd // indirect
	github.com/coreos/etcd v3.3.22+incompatible
	github.com/dustin/go-humanize v1.0.0 // indirect
	github.com/fsnotify/fsnotify v1.4.9
	github.com/golang/protobuf v1.4.3
	github.com/google/uuid v1.1.1 // indirect
	github.com/gorilla/mux v1.8.0
	github.com/grpc-ecosystem/go-grpc-middleware v1.2.0
	github.com/grpc-ecosystem/go-grpc-prometheus v1.2.0
	github.com/grpc-ecosystem/grpc-gateway v1.13.0
	github.com/opentracing/opentracing-go v1.2.0
	github.com/platinummonkey/go-concurrency-limits v0.5.5
	github.com/prometheus/client_golang v0.9.3
	github.com/spf13/viper v1.7.1
	github.com/uber/jaeger-client-go v2.25.0+incompatible
	github.com/uber/jaeger-lib v2.2.0+incompatible
	go.uber.org/zap v1.15.0
	golang.org/x/net v0.0.0-20191002035440-2ec189313ef0
	github.com/logrusorgru/aurora v2.0.3+incompatible
	google.golang.org/genproto v0.0.0-20191108220845-16a3f7862a1a
	google.golang.org/grpc v1.36.0
	gopkg.in/natefinch/lumberjack.v2 v2.0.0
	sigs.k8s.io/yaml v1.2.0 // indirect
	github.com/spaolacci/murmur3 v0.0.0-20180118202830-f09979ecbc72
)

replace {{.Domain}}/{{.AppName}} => ./
replace github.com/golang/protobuf v1.4.3 => github.com/golang/protobuf v1.3.2
replace google.golang.org/grpc v1.36.0 => google.golang.org/grpc v1.26.0
