// gen by iyfiysi at {{ .CreateTime.Format "2006 Jan 02" }}

package {{.PackageName}}

import (
	"net/http"
)

// Cors 跨域处理
func Cors(
	next func(w http.ResponseWriter, r *http.Request),
) func(w http.ResponseWriter, r *http.Request) {
	return func(w http.ResponseWriter, r *http.Request) {
		w.Header().Set("Access-Control-Allow-Origin", "*")
		w.Header().Add(
			"Access-Control-Allow-Headers",
			"Content-Type,AccessToken,X-CSRF-Token, Authorization, Token") //header的类型
		w.Header().Add("Access-Control-Allow-Credentials", "true")
		w.Header().Add(
			"Access-Control-Allow-Methods",
			"POST, GET, OPTIONS, PUT, DELETE")                           //允许请求方法
		w.Header().Set("content-type", "application/json;charset=UTF-8") //返回数据格式是json
		if r.Method == "OPTIONS" {
			w.WriteHeader(http.StatusNoContent)
			return
		}
		next(w, r)
	}
}
