# gen by iyfiysi at {{ .CreateTime.Format "2006 Jan 02" }}

# setup process-exporter to monitor app {{.AppName}}'s process

nohup ./process-exporter -config.path process.yml -web.listen-address=":9256" >/dev/null 2>&1 &