#!/bin/sh

protoc -I. --go_out=plugins=grpc:. ./service.proto
protoc -I. --grpc-gateway_out=logtostderr=true:. ./service.proto
protoc -I. --swagger_out=logtostderr=true:../swagger ./service.proto
protoc -I. --iyfiysi_out=domain={{.Domain}},app={{.AppName}}:. ./service.proto