// gen by iyfiysi at {{ .CreateTime.Format "2006 Jan 02" }}


package {{.PackageName}}

import (
	"context"
	"github.com/spf13/viper"
	"google.golang.org/grpc"
	"github.com/grpc-ecosystem/grpc-gateway/runtime"
	gw "{{.Domain}}/{{.AppName}}/proto"
)

func DoDiscovery(ctx context.Context, mux *runtime.ServeMux, opts []grpc.DialOption) (err error) {
	registerKey := viper.GetString("etcd.registerKey")
	{{- range $ServiceName := .Services}}
	err = gw.Register{{$ServiceName}}HandlerFromEndpoint(ctx, mux, registerKey, opts)
    if err != nil {
        return
    }
    {{end}}
    return
}
