// gen by iyfiysi at {{ .CreateTime.Format "2006 Jan 02" }}


package {{.PackageName}}

import (
    "google.golang.org/grpc"
    "github.com/spf13/viper"
    "{{.Domain}}/{{.AppName}}/internal/pkg/db"
    "{{.Domain}}/{{.AppName}}/proto"
)

{{- range $ServiceName := .Services}}
type {{$ServiceName}}Impl struct{}
{{end}}


func DoRegister(grpcServer *grpc.Server) (err error) {
    //本地服务注册
{{- range $ServiceName := .Services}}
	{
		s := &{{$ServiceName}}Impl{}
    	proto.Register{{$ServiceName}}Server(grpcServer, s)
	}
{{end}}

    //注册中心注册
    instance := viper.GetString("server.listen")
    serviceKey := viper.GetString("etcd.registerKey")
    db.Register(serviceKey,instance)
    return
}