// gen by iyfiysi at {{.CreateTime}}
package service

import (
    "google.golang.org/grpc"
    "github.com/spf13/viper"
    "{{.Domain}}/{{.AppName}}/tool"
    "{{.Domain}}/{{.AppName}}/proto"
)

{{- range $Service := .ServicesList}}
type {{$Service.ServiceName}}Impl struct{}
{{end}}

func DoRegister(grpcServer *grpc.Server) (err error) {
{{range $Service := .ServicesList}}
	{
		s := &{{$Service.ServiceName}}Impl{}
    	proto.Register{{$Service.ServiceName}}Server(grpcServer, s)
	}
{{end}}

    instance := viper.GetString("server.listen")
    serviceKey := viper.GetString("etcd.registerKey")
    tool.Register(serviceKey,instance)
    return
}