#!/bin/bash

curpath=$(pwd)

if [ "${0:0:1}" == "/" ]; then
    dir=$(dirname "$0")
else
    dir=$(pwd)/$(dirname "$0")
fi

cd $dir/..
workdir=$(pwd)

#------------------------------------------------------
source script/include

#pids=$(ps -e -o pid,cmd | grep -w "$cmdline" | grep -v "grep" | awk '{print $1}')
pids=''
if [ -f "$pid_file" ];then
    pids=$(cat $pid_file)
fi

array=($pids)
if [ "${#array[@]}" == "0" ]; then
    start
    add_cron
else
    log_error "$server_name exist,pid=$pids"
fi

#------------------------------------------------------

cd $curpath
