# config file gen by iyfiysi at {{.CreateTime}}
app: "{{.AppName}}"
version: "{{.Version}}"

# server service,不支持即改即生效
server:
  listen: "{{.ServerAddr}}"

# etcd,不支持即改即生效
etcd:
  enable: {{.EtcdEnable}}
  registerKey: "service_{{.AppName}}"
  etcdServer:
{{- range $EtcdServer := .EtcdServers}}
    - "{{$EtcdServer}}"
{{end}}

# jaeger,不支持即改即生效
jaeger:
  enable: {{.JaegerEnable}}
  jaegerServer:
{{- range $JaegerServer := .JaegerServers}}
    - "{{$JaegerServer}}"
{{end}}

# keystore,不支持即改即生效
keystore:
  ca: "{{.KeystoreCA}}" #root证书
  public: "{{.KeystorePublicKey}}"
  private: "{{.KeystorePrivateKey}}"

# 日志信息,不支持即改即生效
logger:
  - name: "main" #主日志
    file: "./logs/main.log"
    level: "debug" #debug|info|warning|error
  - name: "http" #审计日志
    file: "./logs/http.log"
    level: "debug"
  - name: "api" #api调用日志
    file: "./logs/api.log"
    level: "debug"
  - name: "db" #db请求日志
    file: "./logs/db.log"
    level: "debug"
  - name: "grpc" #grpc请求日志
    file: "./logs/grpc.log"
    level: "debug"

snowflakeNodeID: 0
# end