// gen by iyfiysi at {{ .CreateTime.Format "2006 Jan 02" }}

package {{.PackageName}}


func Init() {
	InitUtil()
}

// OnConfigChange 配置变更的通知
func OnConfigChange(){

}


// OnShutDown 服务被终止的通知
func OnShutDown(){

}